<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804149413178-l5jt7ophu495v5a87mn3uop38g2nicbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804149413178-l5jt7ophu495v5a87mn3uop38g2nicbg</string>
	<key>API_KEY</key>
	<string>AIzaSyBu2ZKLp7YthqfsTCgF1Xj3YMAakuFGIt8</string>
	<key>GCM_SENDER_ID</key>
	<string>804149413178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playdata.test</string>
	<key>PROJECT_ID</key>
	<string>alpha-227bc</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-227bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804149413178:ios:2d00cc0ee538e076b97c03</string>
</dict>
</plist>